:root{
    --bgc: rgb(62, 168, 255);
    --lblue: rgb(220, 220, 220);
    margin:0px;
}

html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}

.main{
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100%;
}

.left{
    background-color: var(--bgc);
    color: white;
    padding: 20px;
}

.left > div{
    margin: 30px;
}

.right{
    position: relative;
}

.top{
    background-color: #fff;
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 15px;
    gap: 20px;
    position: sticky;
    justify-content: center;
    box-shadow: 0px 2px 40px #b9b9b9;
    top:0;
}

.bod{
    background-color:var(--lblue);
    display:grid;
    grid-template-columns: 3fr 1fr;
    gap: 15px;
    padding: 15px;
    margin:0;
}

.foot{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-column: 1/-1;
    background-color: rgb(59, 23, 59);
    color: white;
    max-height: 80px;
}

.x{
    display: grid;
    gap: 15px; 
    grid-template-columns: repeat(auto-fit, minmax(221px, 1fr));
    grid-template-rows: repeat(2, 1fr);
}

.g{
    height: 200px;
    /* width: auto; */
    background-color: #fff;
    border-left: 5px solid rgb(255, 196, 0);
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(167, 167, 167);
}


.bpl{
}


.tp2{
    display: flex;
    align-items: center;
}

.r *{
    margin: 0;
}

.searchbar{
    display: flex;
    height: 40px;
    margin-top: 20px;
}

input{
    flex:1;
    border-radius: 20px;
    border:none;
    background-color: var(--lblue);
    padding: 10px;
}

.tp3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.tp1{
    display: flex;
    justify-content: center;
}

.rbg{
    height: 230px;
    width: auto;
    background-color: #fff;
    border-left: 5px solid rgb(255, 196, 0);
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(167, 167, 167);
}

.rtg{
    height: 170px;
    background-color: #fff;
    border-left: 5px solid rgb(255, 196, 0);
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(167, 167, 167);
    min-width: 170px;
}

.lp1 h3,.lp2 h3{
    display: flex;
    align-items: center;
    margin:0;
}

.bpr{
    display: flex;
    flex-direction: column;
}

#topic{
    display: flex;
    align-items: center;
}

#topic img{
    height: 40px;
}

img{
    margin: 7px;
}

button{
    height: 40px;
    background-color: var(--bgc);
    border: none;
    border-radius: 20px;
    margin: 10px;
    color:white;
}

.tp1 h4{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}