:root{
    --bgc: rgb(74, 174, 255);
    --lblue: rgb(235, 233, 233);
    margin:0px;
}

html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}

.main{
    display: grid;
    grid-template: 100% 30px /20% 80%;
}

.left{
    background-color: var(--bgc);
    color: white;
    padding: 20px;
    grid-area: 1/ 1/ 2/ 2;
}

.left > div{
    margin: 30px;
}

.right{
    display: grid;
    grid-template: 10% 90%/ 100%;
}

.top{
    background-color: #fff;
    display: grid;
    grid-template: 50% 50%/ 80% 20%;
}

.bod{
    background-color:var(--lblue);
    display:grid;
    grid-template: 55% 45%/ 3fr 1fr;
}

.foot{
    grid-area: 2/1/3/-1 ;
}

.x{
    grid-area: 1/1/3/2;
    display: grid;
    grid-template: 1fr 1fr 1fr/1fr 1fr;
    gap: 20px;
}

.g{
    height: 100px;
    width: auto;
    background-color: #fff;
}

.tp1,.tp2{
    display: flex;
    
}

.bpl{
    grid-area:1/1/3/2;
}

h5{
    margin:0;
}